body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    width: 25vw;
    height: 25vw;
    height: auto;
    width: auto;
    max-height: 15vw;
}

h1 {
    text-align: center;
    font-size: 6vw;
}

h2 {
    text-align: center;
    font-size: 3vw;
}